<h1 style="text-align: center; color: white; margin-bottom: 1rem;">Games</h1>

<div class="ContentBlock">

    <!-- Displayed article -->
    <a href="#" onclick="loadPage('Components/Games/Ready4Pickup.html'); return false;"
        style="width: 100%; height: 20rem;">
        <div class="DisplayContainer" style="width: 100%; height: 20rem;">
            <img src="./Resources/ready4pickupRes/Ready4PickupCover.png"></img>
            <div class="overlay"></div>
            <div class="image-text">Unnamed Project - WIP</div>
        </div>
    </a>
</div>

<div class="ContentBlock">

    <!-- Displayed article -->
    <a href="#" onclick="loadPage('Components/Games/Ready4Pickup.html'); return false;"
        style="width: 100%; height: 20rem;">
        <div class="DisplayContainer" style="width: 100%; height: 20rem;">
            <img src="./Resources/ready4pickupRes/Ready4PickupCover.png"></img>
            <div class="overlay"></div>
            <div class="image-text">Ready 4 Pickup</div>
        </div>
    </a>
</div>

<div class="ContentBlock">

    <!-- Displayed article -->
    <a href="#" onclick="loadPage('Components/Games/Necropolis.html'); return false;"
        style="width: 100%; height: 20rem;">
        <div class="DisplayContainer" style="width: 100%; height: 20rem;">
            <img src="./Resources/necropolisRes/NecropolisCover.PNG"></img>
            <div class="overlay"></div>
            <div class="image-text">Necropolis</div>
        </div>
    </a>
</div>