<h1 style="text-align: center; color: white; margin-bottom: 1rem;">Games</h1>

<div class="ContentBlock">

    <!-- Displayed article -->
    <div class="DisplayContainer" style="width: 100%; height: 20rem;">
        <img src="./Resources/ready4pickupRes/Ready4PickupCover.png"></img>
        <div class="overlay"></div>
        <div class="image-text">Unnamed Project - WIP</div>
    </div>
</div>

<div class="ContentBlock">

    <!-- Displayed article -->
    <div class="DisplayContainer" style="width: 100%; height: 20rem;">
        <img src="./Resources/ready4pickupRes/Ready4PickupCover.png"></img>
        <div class="overlay"></div>
        <div class="image-text">Ready 4 Pickup</div>
    </div>
</div>

<div class="ContentBlock">

    <!-- Displayed article -->
    <div class="DisplayContainer" style="width: 100%; height: 20rem;">
        <img src="./Resources/necropolisRes/NecropolisCover.PNG"></img>
        <div class="overlay"></div>
        <div class="image-text">Necropolis</div>
    </div>
</div>