


.GalleryContainer {
    margin: 0;

    width: 100%;

}

.Grid3x2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0.5rem;
}

.Grid3x2 img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
}